VideaCesky/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SampleDataSource" targetNamespace="Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="VideoList" type="tns:VideoList" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VideoList">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="VideoListItem" type="tns:VideoListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VideoListItem">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute blend:FormatParameters="20,8" name="Detail" type="xs:string" />
    <xs:attribute blend:Format="Date" name="Date" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="ImageUri" type="xs:string" />
  </xs:complexType>
</xs:schema>